.entity-editor-container {
  width: 60%;
  height: 100vh;
  background: var(--background-color);
  overflow-x: hidden;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  border-color: white;
  border-width: 2pt;
  font-family: var(--font);
}

.attribute-header-container {
  /* height: 1vh;
  min-height: 2px; */
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 1px 0px;
  background-color: var(--secondary-color);
}

.attribute-header-label {
  font-size: 0.85rem;
  color: var(--text-color);
}

.attribute-container {
  height: 120pt;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: left;
  padding: 10px 20px;
  margin: 1px 0px;
  background-color: var(--secondary-color);
  overflow-y: scroll;
}